.div-paper-account{
    height: 70vh;
    text-align: center;
    margin-top: 30px;
    display:"flex";
    justify-content: center;
}

.paper-account{
    height:300px;
    width:300px;
}

.h2-account-title{
    padding-top: 20px;
}